<template name="post_item">
    <div class="post ui raised segment">
        <div class="meta-info">
            <a href="#" class="ui avatar image">
                <img src="" class="ui avatar image">
            </a>
            <a href="{{pathFor 'post_page'}}" class="username">{{from.name}}</a> 
        </div>
        <div class="content">
            {{message}}
        </div>
        <div class="actions-stats-panel clearfix">
            <div class="actions left">
                <span class="like action"><a href="#">Like</a>.</span>
                <span class="comment action"><a href="#">Comment</a>.</span>
                <span class="share action"><a href="#">Share</a>
                </span>
            </div>
            <div class="stats left">
                <span class="likes-count"><i class="thumbs up outline icon">91</i></span>
                <span class="comments-count"><i class="comment outline icon">24</i></span>
                <span class="shares-count"><i class="share icon"></i>7</span>
            </div>
        </div>
    </div>

</template>
